@page "/"

@if (Projects != null)
{
    <ul>
        @foreach (var project in Projects)
        {
            <li>
                <NavLink class="nav-link" 
                         href=@($"/projects/{project.Id}/tickets")>
                         @project.Name
                         </NavLink>
            </li>
        }
    </ul>
}