@using BTA.WebApp.Controls

@page "/search"

<div class="row">
	<div class="col-auto">
		<input 
			type="checkbox"
			@bind="ownerChecked"
			@onclick="ToggleOwner" />
	</div>
	<div class="col-auto">
		<input 
			type="text"
        	@bind="titleSearch" />
	</div>
	<div class="col-auto">
		<input 
			type="text"
			@bind="titleFilter" />
	</div>	
	<div class="col-auto">
		<input 
			type="text"
       		@bind="descriptionFilter" />
	</div>
	<div class="col-auto">
		<button 
			type="button"
			@onclick="HandleClick">
			Search
		</button>
	</div>
</div>

@if (Tickets != null)
{
	<table class="table">
		<thead>
			<th>Title</th>
			<th>Owner</th>
			<th>Report Date</th>
			<th>Due Date</th>
		</thead>
		<tbody>
			@foreach (var ticket in Tickets)
			{
                <TicketRowComponent Ticket=ticket />
			}
		</tbody>
	</table>
}