@if (Ticket == null)
{
    return;
}

<tr>
    <td>
        <NavLink href=@($"/tickets/{Ticket.Id}")>
            @Ticket.Title
        </NavLink>
    </td>
    <td>@Ticket.Owner</td>
    <td>@(Ticket.EnteredDate.HasValue ? Ticket.EnteredDate : string.Empty)</td>
    <td>@(Ticket.DueDate.HasValue ? Ticket.DueDate : string.Empty)</td>
</tr>

@code 
{
    [Parameter]
    public Ticket Ticket { get; set; }
}